Codebase/integration-parent/accapp-domain-parent/apps/digital-accapp-user-api/src/main/app/user.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <apikit:config name="user-config" raml="user.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" host="${acc.listener.host}" port="${acc.listener.port}" basePath="${acc.listener.base.uri}" doc:name="HTTP Request Configuration"/>
    <flow name="user-main">
        <http:listener config-ref="DomainHttpListenerConfiguration" path="/user-api/*" doc:name="HTTP" parseRequest="false"/>
        <apikit:router config-ref="user-config" doc:name="APIkit Router"/>
        <exception-strategy ref="user-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="user-console">
        <http:listener config-ref="DomainHttpListenerConfiguration" path="/user-console/*" doc:name="HTTP"/>
        <apikit:console config-ref="user-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/chkAgreementStatus/patientId/{id}:user-config">
        <set-payload value="{&#xA;   &quot;status&quot;: &quot;true&quot;,&#xA;   &quot;agreementStatus&quot;: &quot;Accepted&quot;,&#xA;   &quot;message&quot; : &quot;Terms &amp; conditions already accepted&quot;,&#xA;   &quot;statusCode&quot;: &quot;200&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/forgotPassword/userId/{id}:user-config">
        <set-payload value="{&#xA;     &quot;status&quot;: &quot;true&quot;,&#xA;     &quot;message&quot; : &quot;Success&quot;,&#xA;     &quot;statusCode&quot;: &quot;200&quot;&#xA;  }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/getUserById/userId/{id}:user-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA; &quot;status&quot;: &quot;true&quot;,&#xA;  &quot;user_id&quot;: 1,&#xA;   &quot;user_group&quot;: 1,&#xA;   &quot;details&quot;: {&#xA;      &quot;name&quot;: &quot;Amit Singh&quot;,&#xA;      &quot;email&quot;: &quot;&quot;,&#xA;     },&#xA;   &quot;status&quot;: &quot;Active&quot;,&#xA;   &quot;last_login&quot;: &quot;YYYY-MM-DD H:i:s&quot;, &quot;output_param1&quot;: &quot;&quot;,&#xA;   &quot;output_param2&quot;: &quot;&quot;,&#xA;   &quot;output_param3&quot;: &quot;&quot;,&#xA;   &quot;output_param4&quot;: &quot;&quot;&#xA; &quot;message&quot; : &quot;Success&quot;,&#xA; &quot;statusCode&quot;: &quot;200&quot;&#xA;  }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/getUserByKey/key/{id}:user-config">
        <set-payload value="{&#xA;     &quot;status&quot;: &quot;true&quot;,&#xA;     &quot;agreementStatus&quot;: &quot;Accepted&quot;,&#xA;     &quot;message&quot; : &quot;Terms &amp; conditions already accepted&quot;,&#xA;     &quot;statusCode&quot;: &quot;200&quot;&#xA;  }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/resetUserPassword/userId/{id}:user-config">
        <set-payload value="{&#xA;     &quot;status&quot;: &quot;true&quot;,&#xA;     &quot;message&quot; : &quot;Password Reset Succesful&quot;,&#xA;     &quot;statusCode&quot;: &quot;200&quot;&#xA;  }" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/userDetail/patientId/{id}:user-config">
        <set-payload value="{&#xA;&quot;status&quot;: &quot;true&quot;,&#xA;&quot;message&quot;: &quot;User info fetched&quot;,&#xA;&quot;statusCode&quot;: &quot;200&quot;,&#xA;&quot;data&quot;: {&#xA;   &quot;patientId&quot;: &quot;1&quot;,&#xA;   &quot;name&quot;: &quot;Ashish&quot;,&#xA;   &quot;userEmail&quot;: &quot;abc@xyz.com&quot;,&#xA;   &quot;profilePic&quot;: &quot;http:///www.test.com/test.jpg&quot;,&#xA;   &quot;ethnicOrigin&quot;: &quot;&quot;,&#xA;   &quot;occupation&quot;: &quot;&quot;,&#xA;   &quot;companyName&quot;: &quot;&quot;,&#xA;   &quot;languages&quot;: &quot;English, Urdu&quot;,&#xA;   &quot;DOB&quot;: &quot;1984-10-23&quot;,&#xA;   &quot;height&quot;: &quot;165 cms&quot;,&#xA;   &quot;weight&quot;: &quot;65 kg&quot;,&#xA;   &quot;contactTime&quot;: &quot;&quot;,&#xA;   &quot;maritalStatus&quot;: &quot;&quot;,&#xA;   &quot;homeAddress&quot;: &quot;&quot;,&#xA;   &quot;physicalChallenged&quot;: &quot;Yes&quot;,&#xA;   &quot;challengesDetail&quot;: &quot;&quot;,&#xA;    &quot;foodAllergy&quot;: &quot;No&quot;,&#xA;   &quot;drugAllergy&quot;: &quot;Yes&quot;,&#xA;   &quot;drugAllergyDetail&quot;: &quot;&quot;,&#xA;   &quot;wakeupTime&quot;: &quot;&quot;,&#xA;   &quot;breakfastTime&quot;: &quot;&quot;,&#xA;   &quot;dinnerTime&quot;: &quot;&quot;,&#xA;   &quot;bedTime&quot;: &quot;&quot;,&#xA;   &quot;extraField1&quot;: &quot;&quot;,&#xA;   &quot;extraField2&quot;: &quot;&quot;,&#xA;   &quot;extraField3&quot;: &quot;&quot;,&#xA;  }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/OTPVerfication:user-config">
        <set-payload value="{&#xA;  &quot;status&quot;: &quot;true&quot;,&#xA;  &quot;message&quot; : &quot;otp verified&quot;,&#xA;  &quot;statusCode&quot;: &quot;200&quot; &#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/SendOTP:user-config">
        <set-payload value="{&#xA;  &quot;status&quot; : &quot;true&quot;,&#xA;  &quot;message&quot; : &quot;Otp send to your registered mobile no&quot;,&#xA;  &quot;statusCode&quot;: &quot;200&quot; &#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/changePassword:user-config">
        <set-payload value="{&#xA;&quot;status&quot;: &quot;true&quot;,&#xA;&quot;message&quot;: &quot;password changed successfully&quot;,&#xA;&quot;statusCode&quot;: &quot;200&quot; &#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/resetPasswordOTP:user-config">
        <set-payload value="{&#xA;  &quot;status&quot;: &quot;true&quot;,&#xA;  &quot;message&quot; : &quot;Password reset successful&quot;,&#xA;  &quot;statusCode&quot;: &quot;200&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/submitFormForGuest:user-config">
        <set-payload value="{&#xA;  &quot;status&quot;: true,&#xA;  &quot;message&quot;: &quot;save successfully&quot;,&#xA;  &quot;statusCode&quot;: 200 &#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/takeAgreement:user-config">
        <set-payload value="{&#xA;  &quot;status&quot;: &quot;true&quot;,&#xA;  &quot;message&quot;: &quot;save successfully&quot;,&#xA;  &quot;statusCode&quot;: &quot;200&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/validateUser:user-config">
        <logger message="input data #[payload]" level="INFO" doc:name="Logger"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/login" method="#[message.inboundProperties['http.method']]" doc:name="HTTP"/>            
        <logger level="INFO" doc:name="Logger" message="Response #[payload]"/>

    </flow>
    <apikit:mapping-exception-strategy name="user-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
